.top-form{
  border-bottom:1px solid #DDD;
  padding:40px 10px;
}
.DAF-checkbox{
  text-align: right;
  padding-right: 27.4%;
}

.main_title{
  width: 208px;
  padding-left: 44px;
  font-size:16px;
  font-weight:bold;
  color:black;
}

.create-btn{
  position: absolute;
  top:4px;
  left:420px;
  background: #3dd0e6;
  height:32px;
  color:#fff;

}


