.components-table-demo-nested .ant-table-expanded-row > td:last-child {
  padding: 0 0 0 61px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
  border-right: 0;
  background-color: #f7f7f7;
}


.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
  margin-right: 24px;
}
.row-invat{
  background:#C7F5E6
}
.row-incollect{
  background:#E1F883
}
.row-incollect-invat{
  background:#BEFFBB
}
.icon-span{
  display: inline-block;
  padding:6px;
  border-radius: 50%;
  line-height: 16px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}

